- if source.outline
  %p= temp_org_render(source.outline.content)
- if source.quotes.present?
  - for quote in source.quotes
    - if quote.quote_versions.count == 1
      %blockquote
        = temp_org_render(quote.quote_versions.first.content)
    - else
      - for version in quote.quote_versions
        .col-sm-6
          %blockquote
            = temp_org_render(version.content)
