= form_for @source, html: { class: "form form-horizontal source" } do |f|
  = render partial: 'fields', locals: {f: f, source: @source}
  
  = f.submit nil,class: 'btn btn-primary'
    
  = link_to t('.cancel', :default => t("helpers.links.cancel")), sources_path, :class => 'btn btn-default'
