= javascript_include_tag 'vis', 'data-turbolinks-track' => true
= stylesheet_link_tag    'vis', media: 'all', 'data-turbolinks-track' => true

:css
  .vis-item.vis-background.negative {
    background-color: rgba(3, 3, 3, 0.2);
  }#e8f6e2

#visualization

:javascript  
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet(
    #{data_for_vis_timeline(events)[:items]}
  );

  var groups = new vis.DataSet(
    #{data_for_vis_timeline(events)[:groups]} 
  );
  
  // Configuration for the Timeline
  var options = {
    // align: 'left',
    // type: 'point',
    // minHeight: 500,
    min: '1750-01-01',
    max: '2020-01-01',
    zoomMin: 10000*60*60*24*31,
    zoomMax: 10000*60*60*24*31*12*100
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, groups, options);
