- model_class = Event
    
= render partial: 'filters'

= render partial: @partial, locals: {events: @events}

= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn  btn-default'

