- model_class = Event
.page-header

%table.table
  - for year in @events_by_year.keys.sort
    %tr
      %td= year
      %td
        - for event in @events_by_year[year]
          %p= link_to event.name, event_path(event)

  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= render partial: 'default_table', locals: {events: @events}
  
= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
